pkgbase = gospt
	pkgdesc = Spotify TUI and CLI written in Go
	pkgver = 0.0.1
	pkgrel = 1
	epoch = 1
	url = https://gitea.asdf.cafe/abs3nt/gospt
	arch = x86_64
	arch = amd64
	license = GPL
	source = https://gitea.asdf.cafe/abs3nt/gospt/releases/download/v0.0.1/gospt
	sha256sums = dfacda14f86f51deac5fb8da9a158fa5854de1306edcebf0a8ed46903a06f54d

pkgname = gospt
